{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'index' %}" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <h1><a href="{% url 'index' %}">Buscador</a></h1>
                <h4>[{{ city }} {% if country %} - {{ country }} {% endif %}]</h4>
            </div>
            <div class="form-group">
                <input type="text" name="key" id="key" class="form-control" placeholder="Digite um termo para busca"
                       required>
                <small id="keyHelp" class="form-text text-muted">Exemplo: Mexican Food</small>
            </div>
            <div class="form-group">
                <input type="text" name="loc" id="loc" class="form-control" placeholder="Digite uma cidade para busca">
                <small id="keyLoc" class="form-text text-muted">Exemplo: Mexico, Brazil</small>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        {% if 'error' in items %}
            <h1>Nenhum estabelecimento encontrado em {{ city }}</h1>
        {% elif busca and items.businesses|length < 1 %}
            <h1>Nada encontrado sobre o termo buscado</h1>
        {% elif city and items %}
            <h1>Resultado da busca</h1>
            {% for biz in items.businesses %}
                <span class="text-info">{{ biz.name }}, {{ city }}</span><br>
            {% endfor %}
        {% endif %}
    </div>
    {% if city and items|length > 1 %}
        {% include 'maps.html' %}
    {% endif %}
<!--</div>-->
{% endblock %}
